<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
</head>

<body>
    <div class="bgs" style="width:100%;">
        <nav class="navbar navbar-expand-lg  fixed-top " id="bgs2">
            <a class="navbar-brand jsection mainHead ml-2 families text-white" href="#homeSection">Portfolio</a>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="border:2px solid white; color:white;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto text-center">
                    <a class="nav-link  nav-opt" href="#homeSection" style="font-size:20px; font-family:Roboto;">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link  nav-opt" href="#aboutSection" style="font-size:20px;  font-family:Roboto;">About me</a>
                    <a class="nav-link nav-opt" href="#skillsSection" style="font-size:20px;  font-family:Roboto;">Skills</a>
                    <a class="nav-link nav-opt" href="#projectSection" style="font-size:20px; font-family:Roboto;">Projects</a>
                    <a class="nav-link  nav-opt" href="#contactMeSection" style="font-size:20px; font-family:Roboto;">Contact Me</a>
                </div>
            </div>
        </nav>

        <div id="homeSection" class='header-container'>

            <div class="container" id="container">
                <h1 class="wishes">Hi all I'm Vishnu <span class="emj1">👋</span> </h1>
                <p class="bio" id="about">A <span class="goal">Passionate Frontend Developer</span> having an experience of building Web and Mobile applications with Html/Css/JavaScript/ReactJs some other cool libraries and frameworks.</p>
                <div class="icons-container">
                    <a href="https://github.com/vishnuvardhan6302128388" target="_parent">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class=" img1 bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/in/vishnuvardhan-mogarala-70506b288/" target="_self">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook img1" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                        </svg>
                    </a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill img1" viewBox="0 0 16 16">
                            <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671" />
                            <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791" />
                        </svg></a>
                </div>
                <div class="d-flex flex-row">
                    <a href="#contactMeSection" class="btn btn-primary button p-2">CONTACT ME</a>
                    <a href="https://i.ibb.co/0Gn8pB1/Vishnu-Vardhan-ITResume.jpg" alt="Vishnu-Vardhan-ITResume" border="0">
                        <button class="btn btn-primary button p-2">SEE MY RESUME</button></a>

                </div>
            </div>
            <div class="img-container">
                <h1 class="coding-heading">Code is morethan some bytes in a file</h1>

            </div>
        </div>


        <div id="aboutSection" class="about-container">

            <div class="profile-imgSection">
                <img src="https://i.ibb.co/c68zQJk/vis-removebg-preview.png" alt="vis-removebg-preview" border="0" class="img2" />
            </div>
            <div class="cont">
                <h1 class="what">What I do</h1>
                <p class="des">CRAZY FRONTEND DEVELOPER WHO WANT TO EXPLORE EVERY TECH STACK.</p>
                <img src="https://i.ibb.co/2Mxjrkt/skills-Img.jpg" alt="skills-Img" border="0" width="500" height="300" class="img3" />
                <p class="des2">⚡ Develop highly interactive Front end / User interfaces for your Web and Mobile applications.</p>
                <p class="des2">⚡ Progressive Web Applications|PWA|in normal and SPA Stacks.</p>
            </div>
        </div>


        <div id="skillsSection" class="skills-container">

            <div class="box-container">
                <h1 class="pro wishes text-white" style="color:black; font-weight:bold;">Proficiency</h1>
                <p class='para2'>Frontend Design</p>
                <div class='box1'>
                    <p class="b1"></p>
                </div>
                <p class="para2">Backend</p>
                <div class='box2'>
                    <p class="b2"></p>
                </div>
                <p class="para2">Programming</p>
                <div class='box3'>
                    <p class="b3"></p>
                </div>
            </div>
            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png" alt="Proficiency-Img" border="0" class="img4">
        </div>

        <div id="projectSection" class="projects-container  text-center ">
            <h1 class="proHead">Open Source Projects</h1>
            <ul class="unorder-container">
                <li class="list-items">
                    <a href="https://github.com/vishnuvardhan6302128388/simpleTodosApp" target="_blank" class="anchorEl">Simple-Todos-Applications</a>
                    <p class="desript">Daily day tasks</p>
                    <p class="skillsUsed">🌕 JavaScript 🔴 Html 🔵 Css</p>
                </li>
                <li class="list-items1">
                    <a href="https://github.com/vishnuvardhan6302128388/Ipl-Dashboard" target="_blank" class="anchorEl">Ipl-Dashboard</a>
                    <p class="desript">Indian Ipl Teams Dashboard</p>
                    <p class="skillsUsed">🌕 JavaScript 🔴 Html 🔵 Css</p>
                </li>
                <li class="list-items2">
                    <a href="https://github.com/vishnuvardhan6302128388/superOverLeague" target="_blank" class="anchorEl">SuperOver-League</a>
                    <p class="desript">This is a SuperOver League</p>
                    <p class="skillsUsed">🌕 JavaScript 🔴 Html 🔵 Css</p>
                </li>
                <li class="list-items3">
                    <a href="https://github.com/vishnuvardhan6302128388/Prime-video" target="_blank" class="anchorEl">Prime-Video</a>
                    <p class="desript">This is an online OTT Platform</p>
                    <p class="skillsUsed">🌕 JavaScript 🔴 Html 🔵 Css</p>
                </li>
                <li class="list-items4">
                    <a href="https://github.com/vishnuvardhan6302128388/RandomNumberGenerator" target="_blank" class="anchorEl">Random-Number</a>
                    <p class="desript">This is an application which is generate a random number between 1 to 100</p>
                    <p class="skillsUsed">🌕 JavaScript 🔴 Html 🔵 Css</p>
                </li>
                <li class="list-items5">
                    <a href="https://github.com/vishnuvardhan6302128388/CCBP-Timeline" target="_blank" class="anchorEl">CCBP-PROGRAM-TimeLine-View</a>
                    <p class="desript">It is a time line view of ccbp program</p>
                    <p class="skillsUsed">🌕 JavaScript 🔴 Html 🔵 Css</p>
                </li>
            </ul>
            <a href="https://github.com/vishnuvardhan6302128388" target="_blank" class="btn1">View More</a>

            <div class="bigpojects-container">
                <h1 class="bigHead">Big Projects</h1>
                <div class="images-list mt-3 ml-2">
                    <a href="https://github.com/vishnuvardhan6302128388/Nxt-Trendz---Specific-Product-Details" target="_blank">
                        <img src="https://assets.ccbp.in/frontend/react-js/nxt-trendz-logo-img.png" alt="nxt-Trendz" border="0" class="img9"> </a>
                    <a href="https://github.com/vishnuvardhan6302128388/Jobby-app" target="_blank">
                        <img src="https://assets.ccbp.in/frontend/react-js/logo-img.png" border="0" class="img10" />
                    </a>
                </div>
            </div>
        </div>

        <div id="contactMeSection" class="contactMeSection">


            <div class="container2">
                <h1 class="head1">React Out to me!</h1>
                <p class="bio1">DISCUSS A PROJECT OR JUST WANT TO SAY HI MY BOX IS OPEN FOR ALL.</p>
                <h2 class="head3">Software Developer🖥️ | Open Source Contributer🔥 | Tech Writer</h2>
                <div class='location-container d-flex flex-row justify-content-left align-items-right'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>
                    <p class="city">Bengaluru, India </p>
                </div>
                <p class="opper">Open for Oppertunities: Yes</p>
                <div class="icons-container ml-5 pl-5">
                    <a href="https://github.com/vishnuvardhan6302128388" target="_parent">
                        <img src="https://i.ibb.co/zSFftBQ/github.png" alt="github" border="0" class="im bi bi-github " />
                    </a>
                    <a href="https://www.linkedin.com/in/vishnuvardhan-mogarala-70506b288/" target="_self">
                        <img src="https://i.ibb.co/zFHgQXR/linkedin-Img.webp" alt="linkedin-Img" border="0" class="img1" /></a>
                    <a href="#"><img src="https://i.ibb.co/172Tgxm/emailImg.webp" alt="emailImg" border="0" class="img1" /></a>
                </div>
            </div>
            <div class="profile-imgSection">
                <img src="https://i.ibb.co/X4QS0JF/vis.jpg" alt="vis" border="0" class="img2" />
            </div>
        </div>
    </div>
</body>

</html>