.bgs {
    width: 100vw;
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;

}

.img-container:hover {
    width: 400px;
    height: 400px;
}



.families {
    font-family: Brush Script MT;

}

.mainHead {
    font-size: 35px;
    color: purple;

}




.navs {

    box-shadow: 0px 3px 20px white;
    background-image: linear-gradient(to left, orange, black, skyblue);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 750px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;


}

.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-bottom: 20px;
}

.img1 {

    border-radius: 20px;
    width: 50px;

}



.bio {
    font-family: "Roboto";
    font-size: 25px;
    text-align: left;
}

.wishes {
    font-family: "Bree Serif";
    font-size: 45px;
}

.pro {
    font-size: 45px;
}

.img-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png");
    height: 350px;
    width: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 30px;
}


.coding-heading {
    color: #ffffff;
    font-size: 40px;
    font-family: "Bree serif";
    padding: 30px;
    border: 10px solid #48ee59;
    border-radius: 20px;
}

.families {
    font-family: Brush Script MT;
}

.btn {
    width: 150px;
    height: 50px;
    background-color: rgb(39, 4, 39);
    color: white;
    margin-right: 30px;
    border-radius: 10px;
    border: none;
}



.about-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.profile-imgSection {

    height: 520px;
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
    border: 10px solid red;

}

.img2 {
    width: 450px;
    height: 500px;
    border-radius: 20%;


}

.image {
    border-radius: 20%;
    width: 300px;
    border: 5px solid green;
}



.cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 700px;
    margin-top: 50px;
    margin-left: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

}

.what {
    font-size: 45px;
    font-family: "Roboto";
    color: black;
}

.des {
    font-family: "Kelvin";
    font-size: 17px;

    color: black;
}

.des2 {
    font-family: "Kelvin";
    font-size: 21px;
    color: black;

}

@media (max-width:576px) {
    .coding-heading {
        font-size: 22px;
        font-family: "Bree serif";
        padding: 30px;
        border: 10px solid #48ee59;
        border-radius: 15px;
    }

    .bgs {
        width: 95vw;
    }

    #bgs2 {
        box-shadow: 0px 3px 20px white;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .icons-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 130px;
        margin-bottom: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 290px;
        background-color: white;
        border-radius: 10px;
        padding: 10px;


    }



    .img1 {

        border-radius: 20px;
        width: 40px;

    }


    .bio {
        font-family: "Roboto";
        font-size: 16px;
        text-align: left;

    }

    .wishes {
        font-family: "Bree Serif";
        font-size: 23px;
        font-weight: bold;
        text-align: left;
        margin-right: 50px;
    }

    .pro {
        font-size: 23px;
    }

    .img-container {
        height: 250px;
        width: 250px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .btn {
        width: 90px;
        height: 50px;
        background-color: rgb(39, 4, 39);
        color: white;
        margin-right: 30px;
        border-radius: 10px;
        border: none;
        font-size: 11px;
    }

    .btn1 {
        width: 90px;
        height: 50px;
        background-color: rgb(39, 4, 39);
        color: white;
        margin-right: 30px;
        border-radius: 10px;
        border: none;
        font-size: 11px;
    }

    .about-container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }



    .img2 {
        width: 170px;
        height: 170px;
        border-radius: 50%;


    }

    .cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 290px;
        margin-top: 50px;
        margin: 10px;

    }

    .img3 {
        width: 270px;
        height: 200px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .what {
        font-size: 22px;
        font-weight: bold;
        font-family: "Roboto";
        color: black;
    }

    .des {
        font-family: "Kelvin";
        font-size: 14px;
        color: gray;
        text-align: center;
        flex-wrap: wrap;
    }

    .des2 {
        font-family: "Kelvin";
        font-size: 17px;
        color: gray;

    }
}

.skills-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}




.box-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border-radius: 20px;
    background-size: cover;
    padding: 15px;
    padding-bottom: 50px;
}

.para {
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: "Roboto";
    margin-top: 20px;
}

.box1 {
    width: 750px;
    height: 46px;
    border-radius: 20px;
    background-color: gray;
    border: 3px solid white;
    margin-bottom: 10px;

}

.box2 {
    width: 750px;
    height: 46px;
    border-radius: 20px;
    background-color: gray;
    border: 3px solid white;
    margin-bottom: 10px;
}

.box3 {
    width: 750px;
    height: 46px;
    border-radius: 20px;
    background-color: gray;
    border: 3px solid white;

}

.b1 {
    width: 650px;
    height: 38px;
    background-color: skyblue;
    border-radius: 20px;
}

.b2 {
    width: 400px;
    height: 38px;
    background-color: skyblue;
    border-radius: 20px;

}

.b3 {
    width: 250px;
    height: 38px;
    background-color: skyblue;
    border-radius: 20px;
}

.img4 {
    width: 250px;
    border: 2px solid skyblue;

    box-shadow: 3px 1px 2px 2px red;
    border-radius: 30px;
    margin-right: 20px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.proHead {
    font-family: kelvin;
    font-weight: bold;
    font-size: 45px;
}

.unorder-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding-top: 20px;
}

.list-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    padding: 10px;
    width: 550px;

    margin-bottom: 15px;
}

.anchorEl {
    font-size: 25px;
    color: black;
    font-family: "Roboto";
}

.desript {
    font-size: 18px;
    font-family: "Roboto";
}

.skillsUsed {
    font-family: "Roboto";
    font-size: 17px;
}


@media (max-width:576px) {
    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
    }

    .box-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        border-radius: 10px;
        background-size: cover;
        padding: 10px;
        padding-bottom: 7px;
    }

    .para2 {
        color: black;
        font-size: 14px;
        font-weight: 600;
        font-family: "Roboto";
        margin-top: 5px;
    }

    .box1 {
        width: 270px;
        height: 30px;
        border-radius: 20px;
        background-color: gray;
        border: 3px solid white;
        margin-bottom: 10px;

    }

    .box2 {
        width: 270px;
        height: 30px;
        border-radius: 20px;
        background-color: gray;
        border: 3px solid white;
        margin-bottom: 10px;

    }

    .box3 {
        width: 270px;
        height: 30px;
        border-radius: 20px;
        background-color: gray;
        border: 3px solid white;
        margin-bottom: 10px;

    }

    .b1 {
        width: 250px;
        height: 24px;
        background-color: skyblue;
        border-radius: 10px;
    }

    .b2 {
        width: 130px;
        height: 24px;
        background-color: skyblue;
        border-radius: 10px;

    }

    .b3 {
        width: 100px;
        height: 24px;
        background-color: skyblue;
        border-radius: 10px;
    }

    .img4 {
        width: 170px;
        height: 270px;
        border: 3px solid skyblue;
        box-shadow: 2px 1px 1px 1px red;
        border-radius: 30px;
        margin-right: 20px;
        align-self: center;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 10px;
        background-color: white;
        margin: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .proHead {
        font-family: kelvin;
        font-weight: bold;
        font-size: 23px;
    }

    .unorder-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        padding-top: 10px;
    }

    .list-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 1px 1px 1px 1px gray;
        border-radius: 10px;
        padding: 10px;
        width: 250px;

        margin-bottom: 15px;
    }

    .anchorEl {
        font-size: 17px;
        color: black;
        font-family: "Roboto";
    }

    .desript {
        font-size: 13px;
        font-family: "Roboto";
    }

    .skillsUsed {
        font-family: "Roboto";
        font-size: 15px;
    }
}



@media (max-width:576px) {
    .bigHead {
        font-family: "Caveat";
        font-size: 23px;

    }

    .btn1 {
        width: 100px;
        height: 30px;
        background-color: rgb(39, 4, 39);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        border-radius: 10px;
        border: none;
        font-size: 12px;
    }
}

.btn1 {
    width: 150px;
    height: 50px;
    background-color: rgb(39, 4, 39);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    margin-bottom: 30px;
}



.bigpojects-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bigHead {
    font-family: "Caveat";
    font-size: 45px;
    font-weight: bold;
}

.images-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 500px;
}

.img9 {
    width: 200px;
    border: 3px solid skyblue;
    border-radius: 10px;

}

.img10 {
    width: 150px;
    border: 3px solid blue;
    border-radius: 10px;

}

.contactMeSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.head1 {
    font-size: 45px;
    font-family: "Caveat";
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 20px;
}

.bio1 {
    font-family: "Roboto";
    font-size: 19px;
}

.head3 {
    font-size: 27px;
    font-family: "Caveat";
    padding-top: 20px;
}

.location-container {
    display: flex;
    justify-content: space-between;
    width: 130px;

}

.city {
    font-size: 15px;
    font-family: "Roboto";
}

.opper {
    font-size: 20px;
    font-family: "Roboto";
}

@media (max-width:576px) {

    .bigpojects-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .bigHead {
        font-family: "Caveat";
        font-size: 23px;
        font-weight: bold;
    }

    .images-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 280px;
        height: 100px;
    }

    .img9 {
        width: 150px;
        border: 3px solid skyblue;
        border-radius: 10px;
    }

    .img10 {
        width: 100px;
        border: 3px solid blue;
        border-radius: 10px;
    }

    .contactMeSection {
        display: flex;
        flex-direction: column;

        align-items: center;
        padding: 30px;
    }

    .head1 {
        font-size: 23px;
        font-family: "Caveat";
        font-weight: bold;
        margin-bottom: 40px;
        margin-top: 20px;
        width: 290px;
    }

    .bio1 {
        font-family: "Roboto";
        font-size: 13px;
    }

    .head3 {
        font-size: 17px;
        font-family: "Caveat";
        padding-top: 20px;
        font-weight: bold;
    }

    .location-container {
        display: flex;
        justify-content: space-between;
        width: 130px;

    }

    .city {
        font-size: 15px;
        font-family: "Roboto";
    }

    .opper {
        font-size: 17px;
        font-family: "Roboto";
    }
}

.nav-opt {
    color: white;
}

.nav-opt:active {
    color: black;
}

.profile-imgSection:hover {
    width: 490px;
    height: 530px;

}

.img2 {
    width: 490px;
}

.img2:hover {
    width: 490px;
    height: 510px;
}

.img:hover {
    width: 430px;
    height: 430px;
}

.img4:hover {
    width: 300px;
    border: 2px solid skyblue;
    box-shadow: 0px 3px 15px blue;
}

.list-items:active {
    background-color: pink;
}

.list-items:hover {
    width: 570px;
    height: 170px;
}

.list-items1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    padding: 10px;
    width: 550px;

    margin-bottom: 15px;
}

.list-items2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    padding: 10px;
    width: 550px;

    margin-bottom: 15px;
}

.list-items3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    padding: 10px;
    width: 550px;

    margin-bottom: 15px;
}

.list-items4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    padding: 10px;
    width: 550px;

    margin-bottom: 15px;
}

.list-items5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    padding: 10px;
    width: 550px;

    margin-bottom: 15px;
}

.list-items1:hover {
    width: 570px;
    height: 170px;

}

.list-items2:hover {
    width: 570px;
    height: 170px;
}

.list-items3:hover {
    width: 570px;
    height: 170px;
}

.list-items4:hover {
    width: 570px;
    height: 170px;
}

.list-items5:hover {
    width: 570px;
    height: 170px;
}

@media (max-width:576px) {
    .img-container:hover {
        width: 260px;
        height: 260px;
    }

    .nav-opt:active {
        color: black;
    }



    .img:hover {
        width: 430px;
        height: 430px;
    }

    .img4:hover {
        width: 200px;
        height: 300px;
        border: 2px solid skyblue;
        box-shadow: 0px 3px 15px blue;
    }

    .list-items:active {
        background-color: pink;
    }

    .list-items:hover {
        width: 270px;
        height: 130px;
        padding-top: 20px;
    }

    .list-items1:hover {
        width: 270px;
        height: 130px;
        padding-top: 20px;
    }

    .list-items2:hover {
        width: 270px;
        height: 130px;
        padding-top: 20px;
    }

    .list-items3:hover {
        width: 270px;
        height: 130px;
        padding-top: 20px;
    }

    .list-items4:hover {
        width: 270px;
        height: 130px;
        padding-top: 20px;
    }

    .list-items5:hover {
        width: 270px;
        height: 130px;
        padding-top: 20px;
    }

    .list-items1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 1px 1px 1px 1px gray;
        border-radius: 10px;
        padding: 10px;
        width: 250px;

        margin-bottom: 15px;
    }

    .list-items2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 1px 1px 1px 1px gray;
        border-radius: 10px;
        padding: 10px;
        width: 250px;

        margin-bottom: 15px;
    }

    .list-items3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 1px 1px 1px 1px gray;
        border-radius: 10px;
        padding: 10px;
        width: 250px;

        margin-bottom: 15px;
    }

    .list-items4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 1px 1px 1px 1px gray;
        border-radius: 10px;
        padding: 10px;
        width: 250px;

        margin-bottom: 15px;
    }

    .list-items5 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 1px 1px 1px 1px gray;
        border-radius: 10px;
        padding: 10px;
        width: 250px;

        margin-bottom: 15px;
    }
}


.profile-imgSection {
    width: 420px;
    height: 420px;
    background-color: transparent;
    border: 7px solid green;
}

.img2 {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.profile-imgSection:hover {
    width: 450px;
    height: 450px;
    box-shadow: 0px 3px 30px red;
    border: none;
}

.img2:hover {
    width: 370px;
    height: 370px;
}

.img9:hover {
    width: 200px;
    height: 70px;
    box-shadow: 0px 3px 15px blue;
    margin-bottom: 10px;
}

.img10:hover {
    width: 180px;
    height: 70px;
    box-shadow: 0px 3px 15px blue;
    margin-top: 10px;
}

.img3:hover {
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
    width: 600px;
    height: 320px;
    margin-bottom: 20px;
}

@media (max-width:574px) {
    .profile-imgSection {
        width: 250px;
        height: 250px;
        background-color: transparent;
        border: 5px solid blue;
    }

    .img2 {
        width: 200px;
        height: 200px;
    }

    .profile-imgSection:hover {
        width: 260px;
        height: 260px;
        box-shadow: 0px 3px 25px green;
        border: none;
    }

    .img2:hover {
        width: 220px;
        height: 220px;
    }

    .img9:hover {
        width: 150px;
        height: 60px;
        box-shadow: 0px 3px 15px blue;
        margin-bottom: 10px;
    }

    .img10:hover {
        width: 150px;
        height: 60px;
        box-shadow: 0px 3px 15px blue;
        margin-top: 10px;
    }

    .img3:hover {
        box-shadow: 2px 2px 2px 2px gray;
        border-radius: 10px;
        width: 280px;
        height: 220px;
        margin-bottom: 20px;
    }

    #about::first-letter {
        font-size: 23px;
        color: red;
    }
}

#about:hover {
    font-size: 30px;
    transition: 1s;

}

.img2 {

    top: 300;
    bottom: 500;
    transition: .2s;
}

.families {
    position: relative;
    font-weight: 600;
    font-family: "Lobster";
}

@media (max-width:576px) {
    #about:hover {
        font-size: 18px;
        transition: .1s;

    }
}

.bgs {
    background-color: black;
    color: white;
    font-family: "Roboto", "Lobster";
    font-weight: 500;
}

.container {
    background-color: black;
}

#bgs2 {
    background-color: black;
}

.nav-opt:hover {
    color: skyblue;
    font-size: 18px;
}

.img1 {
    background-color: transparent;
    height: 60px;
    width: 60px;
    border: 5px solid skyblue;
    border-radius: 50%;
    padding: 10px;
    margin-right: 20px;

}

.img1:hover {
    box-shadow: 0px 3px 30px skyblue;

}

.img1:active {
    color: white;
    background-color: cyan;
}

.img-container {
    box-shadow: 0px 3px 53px white;
}

.cont {
    background-color: black;

}

.what {
    color: white;

}

.des {
    color: white;
}

.des2 {
    color: white;
}

.skills-container {
    background-color: black;
}

.box-container {
    background-color: black;
}

.projects-container {
    background-color: black;
}

.list-items {
    box-shadow: 0px 3px 30px skyblue;
}

.list-items1 {
    box-shadow: 0px 3px 26px skyblue;
}

.list-items:hover {
    box-shadow: 0px 3px 30px red;
    transition: .5s;
    border: 7px solid cyan;
}


.list-items2 {
    box-shadow: 0px 3px 30px skyblue;
}

.list-items3:hover {
    box-shadow: 0px 3px 30px red;
    transition: .5s;
    border: 3px solid cyan;
}


.list-items4 {
    box-shadow: 0px 3px 50px skyblue;
}

.list-items5 {
    box-shadow: 0px 3px 50px skyblue;
}

.list-items2:hover {
    box-shadow: 0px 3px 30px red;
    transition: .5s;
    border: 3px solid cyan;
}

.list-items4:hover {
    box-shadow: 0px 3px 30px red;
    transition: .5s;
    border: 3px solid cyan;
}

.list-items5:hover {
    box-shadow: 0px 3px 30px red;
    transition: .5s;
    border: 3px solid cyan;
}

.list-items1:hover {
    box-shadow: 0px 3px 30px red;
    transition: .5s;
    border: 3px solid cyan;
}

.button {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cyan;
    color: black;
    text-decoration: none;
}

.button:hover {
    box-shadow: 0px 3px 20px cyan,
        0 0 25px cyan;
    background-color: cyan;
    color: black;
    text-decoration: none;
}

.wishes {
    animation: slideRight 3s ease infinite;
    animation-delay: .5s;
}

.proHead {
    animation: slideRight 3s ease infinite;
}

.bigHead {
    animation: slideRight 3s ease infinite;
    animation-delay: 4s;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0.5);
        opacity: 1;
    }
}

.anchorEl {
    color: white;

}

.im {
    border: 5px solid skyblue;
    border-radius: 50%;
    padding: 5px;
    margin-right: 20px;
    height: 60px;
    width: 60px;
    color: white;
    background-color: white;
}

.im:hover {
    box-shadow: 0px 3px 15px cyan;
}

@media (max-width:576px) {
    .mainHead {
        font-size: 20px;

    }

    .bio {
        font-size: 12px;
    }

    #about:hover {
        font-size: 12px;
    }

    .icons-container {
        width: 200px;
    }

    .img1 {
        height: 35px;
        width: 35px;
        padding: 4px;
    }

    .button {
        width: 90px;
        height: 35px;
    }

    .img-container {
        width: 200px;
        height: 170px;
        box-shadow: none;
        position: relative;
    }

    .coding-heading {
        width: 170px;
        height: 140px;
        padding: 10px;
        border: 3px solid white;
    }

    .img-container:hover {
        width: 200px;
        height: 170px;
        box-shadow: 0px 3px 20px cyan;
        border: 2px solid white;
    }

    .coding-heading:first-letter {
        color: pink;
    }

    .coding-heading:last-letter {
        color: blue;
    }


    .profile-imgSection {
        width: 200px;
        height: 200px;
        border: none;

    }

    .img2 {
        height: 180px;
        width: 180px;
        border: none;
        transition: .5s;
        box-shadow: 0px 3px 20px cyan;
    }

    .profile-imgSection:hover {
        border: none;
        box-shadow: none;
        width: 210px;
        height: 210px;
    }

    .img2:hover {
        border: 3px solid white;
        box-shadow: 0px 3px 70px purple;
        height: 190px;
        width: 190px;
    }

    .goal {
        font-size: 15px;
        font-weight: 700;
    }

    .box-container {
        width: 280px;
        margin-bottom: 10px;

    }

    .para2 {
        color: white;
    }

    .box1 {
        background-color: white;
        width: 270px;
        height: 28px;
        border: 2px solid black;

    }

    .b1 {
        width: 220px;
    }

    .box2 {
        background-color: white;
        width: 270px;
        height: 28px;
        border: 2px solid black;

    }

    .b2 {
        width: 180px;
    }

    .box3 {
        background-color: white;
        width: 270px;
        height: 28px;
        border: 2px solid black;
    }

    .b3 {
        width: 130px;
    }

    .box1:hover {
        box-shadow: 0px 3px 30px 0px red;
        border: 3px solid white;
    }

    .box2:hover {
        box-shadow: 0px 3px 30px 0px red;
        border: 3px solid white;
    }

    .box3:hover {
        box-shadow: 0px 3px 30px 0px red;
        border: 3px solid white;
    }

    .unorder-container {
        width: 280px;
        width: 100%;
    }

    .list-items {
        box-shadow: 0px 3px 30px skyblue;
        width: 270px;
        height: 120px;
    }

    .list-items1 {
        box-shadow: 0px 3px 26px skyblue;
        width: 270px;
        height: 120px;
    }

    .list-items:hover {
        box-shadow: 0px 3px 30px red;
        transition: .5s;
        border: 3px solid cyan;
    }


    .list-items2 {
        box-shadow: 0px 3px 30px skyblue;
        width: 270px;
        height: 120px;
    }

    .list-items3 {
        width: 270px;
        height: 120px;
        padding: 10px;
    }

    .list-items3:hover {
        box-shadow: 0px 3px 30px red;
        transition: .5s;
        border: 3px solid cyan;
    }


    .list-items4 {
        box-shadow: 0px 3px 50px skyblue;
        width: 270px;
        height: 130px;
    }

    .list-items5 {
        box-shadow: 0px 3px 50px skyblue;
        width: 270px;
        height: 130px;
        padding: 10px;
    }

    .list-items2:hover {
        box-shadow: 0px 3px 30px red;
        transition: .5s;
        border: 3px solid cyan;
    }

    .list-items4:hover {
        box-shadow: 0px 3px 30px red;
        transition: .5s;
        border: 3px solid cyan;
        width: 280px;
        height: 140px;
    }

    .list-items5:hover {
        box-shadow: 0px 3px 30px red;
        transition: .5s;
        border: 3px solid cyan;
        width: 280px;
        height: 150px;
    }

    .list-items1:hover {
        box-shadow: 0px 3px 30px red;
        transition: .5s;
        border: 3px solid cyan;
    }

    .bigpojects-container {
        width: 100%;
    }

    .images-list {
        width: 270px;
    }

    .img9 {
        box-shadow: 0px 3px 15px skyblue;
        height: 40px;
    }

    .img10 {
        box-shadow: 0px 3px 15px skyblue;
        height: 40px;
        border: 1px solid white;

    }

    .img9:hover {
        box-shadow: 0px 3px 25px cyan;
        height: 60px;
        width: 170px;
    }

    .img10:hover {
        box-shadow: 0px 3px 25px cyan;
        height: 60px;
        width: 170px;
        border: 3px solid white;
    }

    .icons-container {
        width: 200px;
    }

    .im {
        width: 40px;
        height: 40px;
    }


}

#bgs2 {
    box-shadow: 0px 3px 20px white;
}

.header-container {
    margin-top: 90px;
}

@media (max-width:576px) {
    .header-container {
        margin-top: 70px;

    }

}

.btn1 {
    background-image: linear-gradient(to left, red, blue);
    color: white;
}

.btn1:hover {
    box-shadow: 0px 3px 30px cyan;
    color: white;
}